/*HEADER*/
.header {
    position: relative;
    background-color: white;
}
.header__carouselContainer {
    position: relative;
    overflow: hidden;
}
.header__carouselSlide {
    display: flex;
    height: 400px;
    width: 100%;
}
.header__carouselSlide > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}
.header__carouselContainer > input {
    display: none;
}
.header__carouselContainer > i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    cursor: pointer;
    transition: color 0.3s ease;
}
.arrowLeft {
    left: 50px;
}
.arrowRight {
    right: 50px;
}
.arrowLeft::after, .arrowRight::after {
    content: "";
    position: absolute;
    bottom: -12px;
    top: -12px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 100%;
    transition:  background-color 0.3s ease;
    z-index: -1;
}
.arrowLeft::after {
    left: -19px;
    right: -20px;
}
.arrowRight::after {
    left: -20px;
    right: -19px;
}
.header__carouselContainer > i:hover {
    color: white;
}
.header__carouselContainer > i:hover::after {
    background-color: rgba(255, 204, 0, 0.8);
}
.header__labelForRadio {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.header__labelForRadio > label {
    height: 15px;
    width: 15px;
    border: 2px solid #ffcc00;
    border-radius: 100%;
    transition: background-color 0.5s ease;
    cursor: pointer;
}
.header__labelForRadio > label:not(:first-child) {
    margin-left: 20px;
}
.header__labelForRadio > label:hover {
    background-color:  #ffcc00;
}
.header__decorate {
    top: 100%;
    height: 50px;
    width: 100%;
    background-color: #152f60;
    clip-path: polygon(100% 0, 26% 100%, 19% 0, 12% 100%, 0 0);
}
/*MAIN*/
.main__guarantee {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    height: 100px;
    font-size: 18px;
    font-weight: 700;
    background-color: white;
}
.main__guarantee > p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.main__guarantee i {
    margin-bottom: 5px;
    font-size: 30px;
    color: #ffcc00;
}
.main__container {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.main__carousel {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
    padding: 20px 60px;
    background-color: white;
}
.main__carousel > h3 {
    margin: 0;
    padding-bottom: 10px;
    color: #d25804;
    font-size: 21px;
    font-family: 'Noto Serif', serif;
    font-weight: 600;
}
.main__carousel > p:first-of-type {
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: 500;
}
.main__carouselContainer {
    overflow: hidden;
}
.main__carouselSlide {
    display: flex;
}
.main__carousel > i {
    position: absolute;
    top: 50%;
    font-size: 20px;
    color: #666666;
    cursor: pointer;
    z-index: 10;
}
.main__carouselArrowLeft {
    left: 25px;
}
.main__carouselArrowRight {
    right: 25px;
}
.main__carousel > i::after {
    content: "";
    position: absolute;
    top: -8.25px;
    left: -12px;
    right: -12px;
    bottom: -8.25px;
    background-image: linear-gradient(to bottom, #ffffff, #dbdbdb);
    border: 1px solid #6d6d6d;
    border-radius: 3px;
    z-index: -1;
}
.main__carousel > i:hover::after {
    background-image: linear-gradient(to bottom, #ffffff, #cacaca);
}
.main__carousel > i.button--active::after {
    box-shadow: inset 0 0 2px 1px rgba(0,0,0,0.2);
    background-image: linear-gradient(to bottom, #cacaca, #cacaca);
}
.main__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 14%;
    flex-shrink: 0;
}
.main__carouselSlide > .main__item:not(:nth-child(6n)) {
    margin-right: calc((100% - (14% * 6)) / 5);
}
.main__item img {
    width: 100%;
    height: 166.45px;
    object-fit: contain;
}
.main__item > .main__itemTitle {
    display: block;
    height: 86px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #1b6aa7;
    overflow: hidden;
}
.main__item > .main__itemTitle:hover {
    color: #d25804;
    text-decoration-color: #d25804;
}
.main__item > .main__itemRating {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}
.main__itemRating > .main__itemWhiteStar {
    position: relative;
    height: 16px;
    width: calc(20px * 5);
    background-image: url("../imgs/whiteStar.png");
    background-size: 20px 16px;
    background-repeat: repeat-x;
}
.main__itemRating .main__itemYellowStar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url("../imgs/yellowStar.png");
    background-size: 20px 16px;
    background-repeat: repeat-x;
}
.main__itemRating > .main__itemReview {
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    color: #1b6aa7;
}
.main__itemRating > .main__itemReview:hover {
    color: #0c3b5b;
}
.main__itemPriceContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.main__itemPriceContainer > .main__itemPrice {
    font-size: 17px;
    font-weight: 600;
    color: #e53030;
}
.main__itemPriceContainer > .main__itemListPrice {
    font-size: 14px;
    text-decoration: line-through;
}
.main__item > .main__itemAddToCart {
    padding: 3px 0;
    font-weight: 500;
    background-image:linear-gradient(to bottom, #ffeaa3, #facf49);
    border: 1px solid #835f00;
    border-radius: 3px;
}
.main__item > .main__itemAddToCart:hover {
    background-image: linear-gradient(to bottom, #ffeaa3, #e9bc58);
}
.main__item > .main__itemAddToCart:focus {
    outline: none;
}
.main__item > .main__itemAddToCart.button--active {
    box-shadow: inset 0 0 2px 1px rgba(0,0,0,0.2);
    background-image: linear-gradient(to bottom, #e9bc58, #e9bc58);
    outline: none;
}
.main__project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 70px 0 30px 0;
    background-color: white;
}
.main__project > h1, .main__review > h1 {
    margin: 0 0 5px 0;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.main__projectLogo > img {
    width: 25px;
    height: 25px;
}
.main__projectLogo {
    position: relative;
    margin-bottom: 60px;
}
.main__projectLogo::before, .main__projectLogo::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    height: 1px;
    width: 100px;
}
.main__projectLogo::before {
    left: -110px;
    background-image: linear-gradient(90deg, #c3e2ef, #5caad0, #20428a);
}
.main__projectLogo::after {
    right: -110px;
    background-image: linear-gradient(90deg, #20428a, #5caad0, #c3e2ef);
}
.main__projectPlanContainer {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: 0 auto;
}
.main__projectPlan {
    flex-basis: 23%;
    margin-bottom: 40px;
}
.main__projectPlan:not(:nth-child(4n + 1)) {
    margin-left: calc((100% - (23% * 4)) / 3);
}
.main__projectPlan > a:first-of-type {
    display: block;
    height: 200px;
    overflow: hidden;
}
.main__projectPlan img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}
.main__projectPlan img:hover {
    transform: scale(1.2);
}
.main__projectPlan > a:nth-of-type(2) {
    display: inline-block;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}
.main__review {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    margin: 10px;
    padding-top: 70px;
    background-color: #222222;
}
.main__review > i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: white;
    cursor: pointer;
}
.main__review > .main__reviewArrowLeft {
    left: 50px;
}
.main__review > .main__reviewArrowRight {
    right: 50px;
}
.main__review > h1 {
    color: white;
}
.main__reviewCarouselContainer {
    margin: 0 auto;
    padding-bottom: 90px;
    width: 80%;
    overflow: hidden;
}
.main__reviewCarouselSlide {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
.main__reviewBlock {
    margin-right: calc((100% - (30% * 3)) / 2);
    position: relative;
    flex-basis: 30%;
    flex-shrink: 0;
}
.main__reviewContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    height: 400px;
    background-color: white;
    clip-path: polygon(100% 0, 100% 100%, 50% 73%, 0 100%, 0 0);
}
.main__reviewContent > i {
    margin: 20px 0 15px;
    font-size: 50px;
    color: #b59467;
}
.main__reviewContent > p {
    margin: 0;
    color: #5b5b5b;
    font-weight: 500;
}
.main__reviewImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 25px;
    height: 115px;
    width: 115px;
    background-color: white;
    border: 3px solid #b59467;
    border-radius: 100%;
    transform: translateX(-50%);
}
.main__reviewImageContainer > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
}
.main__reviewImageContainer::before{
    content: attr(data-name);
    position: absolute;
    bottom: -30px;
    left: -20px;
    right: -20px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.main__reviewImageContainer::after{
    content: attr(data-job);
    position: absolute;
    bottom: -50px;
    left: -20px;
    right: -20px;
    text-align: center;
    font-size: 14px;
    color: #dedede;
}
.main__reviewPage {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 20px;
}
.main__reviewPage1, .main__reviewPage2 {
    width: 35px;
    height: 10px;
    background-color: #b59467;
    border: 2px solid #131313;
    border-radius: 5px;
    cursor: pointer;
}
.main__reviewPage1:hover, .main__reviewPage2:hover {
    border-color: white !important;
}
.main__reviewPage1 {
    margin-right: 10px;
}
.main__brandContainer {
    display: flex;
    margin: 10px 10px 20px;
    padding: 40px 80px;
    background-color: white;
}
.main__brandAboutUs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 20px;
}
.main__brandAboutUs > h3 {
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Pacifico', cursive;
    color: transparent;
    background-image: linear-gradient(135deg, #c3e2ef, #5caad0, #20428a);
    -webkit-background-clip: text;
}
.main__brandAboutUs > p:first-of-type {
    margin: 20px 0;
    font-size: 23px;
    font-weight: 700;
}
.main__brandAboutUs > p:nth-of-type(2) {
    font-size: 15px;
    margin: 0;
    text-align: justify;
}
.main__brandAboutUs img {
    width: 50px;
    object-fit: contain;
}
.main__brandContainer > div {
    flex-basis: 50%;
}
.main__brands {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.main__brands > img {
    width: 170px;
    height: 110px;
    object-fit: contain;
}
.main__brands > img:not(:nth-child(n + 7)) {
    margin-bottom: 20px;
}
.main__brands > img:not(:nth-child(3n + 1)) {
    border: 1px solid #e1e1e1;
}
.main__brands > img:nth-last-of-type(3) {
    border: 1px solid #e1e1e1;
}
.main__brands > img:hover {
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.2), 0 0 20px 5px rgba(0,0,0,0.1);
}