.signUpWrapper {
    background-color: white;
    height: 100vh;
}
.signUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.signUp__logo {
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Pacifico', cursive;
    color: transparent;
    background-image: linear-gradient(135deg, #c3e2ef, #5caad0, #20428a);
    -webkit-background-clip: text;
    cursor: pointer;
}
.signUp__logo > img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.signUp__createAcc {
    padding: 25px;
    width: 25%;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
}
.signUp__createAcc > h3 {
    margin: 0 0 5px;
    font-size: 30px;
    font-weight: 700;
}
.signUp__form {
    display: flex;
    flex-direction: column;
}
.signUp__form > label {
    font-size: 14px;
    margin-bottom: 3px;
    margin-top: 15px;
}
.signUp__form > input {
    padding: 4px 7px;
    font-size: 14px;
    border: 1px solid #9f9f9f;
    border-radius: 3px;
}
.signUp__form > input:focus {
    outline: none;
    border-color: #1471d2;
    box-shadow: 0 0 5px #1471d2;
}
.signUp__form > input.input--invalid {
    border-color: red;
    box-shadow: none;
}
.signUp__createAccButton {
    margin: 30px 0 10px;
    padding: 4px 0;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    background-image:linear-gradient(to bottom, #ffeaa3, #facf49);
    border: 1px solid #835f00;
}
.signUp__createAccButton:hover {
    background-image: linear-gradient(to bottom, #ffeaa3, #e9bc58);
}
.signUp__createAccButton:focus {
    outline: none;
}
.signUp__createAccButton.signUp__createAccButton--active {
    box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.3);
    outline: none;
    background-image: linear-gradient(to bottom, #e9bc58, #e9bc58);
}
.signUp__rules {
    margin: 0 0 20px;
    font-size: 13px;
}
.signUp__toSignIn {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}
.signUp__toSignIn > a {
    color: #0066c0;
}
.signUp__toSignIn > a:hover {
    color: #d25804;
    text-decoration-color: #d25804;
}
.signUp__form > p {
    display: none;
    margin: 5px 0 0;
    font-size: 13px;
    font-weight: 500;
    color: red;
}