*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}
.container:before{
    display: table;
    content: " ";
}
.contact-img{
    mask-image: linear-gradient(to bottom,rgb(0,0,0),rgba(0,0,0,0));

}
.row:before{
    display: table;
    content: " ";
}
.row:after{
    display: table;
    content: " ";
    clear: both;
}
.clearfix:before{
    display: table;
    content: " ";
    clear: both;
}
.clearfix:after{
    display: table;
    content: " ";
    clear: both;
}
.container{
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    margin-right: -10px;
    margin-left: -10px;

}

body {
    overflow-x: hidden;
    color: #363f4d;
}

.page-contact .loginn .title-tt{
    font-size: 26px;
    line-height: 28px;
    margin: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

.title-tt{
    color: #333;
    text-decoration: none;
    text-align: center;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.page-contact .login .contact-tt{
    font-size: 14px;
    line-height: 24px;
    color: #333;
    letter-spacing: 0.5px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.block{
    display: block !important;
    text-align: center;
}

form {
    margin-bottom: 30px;
    display: block;
    margin-top: 0em;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

.col-sm-6, .col-xs-12{
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.page-contact .form-group {
    margin-bottom: 20px;
}

.form-group {
    margin: 0;
    padding: 0 0 8px;
    border: 0;
}

fieldset {
    border-radius: 0;
    max-width: 100%;
    border: 0px solid #e1e1e1;
    padding: 15px;
}

.page-contact .form-group label {
    font-weight: 500;
    letter-spacing: 1.5px;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
    align-items: center;
}

label{
    display: block;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.saored{
    font-size: 13px;
    color: red;
}
.page-contact input[type="text"], .page-contact input[type="email"], .page-contact input[type="tel"] {
    background: #f7f7f7;
    padding: 0 15px;
    border: 1px solid transparent;
    outline: none;
    border: 1px solid #e1e1e1;
    padding: 10px 5px;
    width: 100%;
    max-width: 100%;
    display: block;
    border-radius: 4px;
}

.form-group .form-control {
    display: block;
    width: 100%;
    min-height: 40px;
    padding: .375rem .75rem;
    font-size: 1em;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    margin: 0;
}

.page-contact .btn-blues {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    height: 50px;
    font-weight: 500;
    letter-spacing: 1.2px;
    font-size: 13px;
}

.btn-blues::before, #btnnewreview::before, .evo-button::before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.nenbgr{
    background:white;
}
.boxcontent {
    resize: none;
    display: block;
    width: 100%;
    height: 200px;
    padding: 5px;
    border-radius: 3px;
}
.map{
    display: flex;
    height: 100%;
}


