.loicamon{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
}
.chube{
    font-size:16px;
    text-align: justify;
    padding-left: 300px;
    padding-right: 300px;
    margin-bottom: 100px;
}
.send {
    color: white;
    background-color: #0092ff;
    border-radius: 5px
}
