*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arimo', sans-serif;
}

.title{
    font-weight: bolder;
    text-align: center ;
    color: black;
}
.title1{
    font-size: 18px;
}
.product-main{
    width: auto;
    display: flex;
    background-color: #FFFFFF;
}
.sidebar{
    flex: 15%;
    /*position: sticky;*/
    top:40px;
    /*align-self: flex-start;*/
}
.detail{
    flex: 75%;
    background-color: #ffffff;
    margin-top: 10px;
}
.quang-cao{
    flex: 10%;
    position: sticky;
    top:40px;
    align-self: flex-start;
}

.productpic{
    max-width: 100%;
    height: auto;
}
/*.colum{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/
/*star rate*/
.colum{
    display: flex;
    flex-wrap: wrap;
}

.item1 img{
    max-width: 100%;
    object-fit: scale-down;
}
.item1 img {
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s ;
    -o-transition: all 1s ;
}

.item1 img:hover {
    -webkit-transform: scale(1.05); transform: scale(1.05);
}
.itemlist{
    border: 1px solid  #b8b8b8 ;
    width: 31%;
    padding: 10px;
    margin: 10px;
}
.itemlist >a{
    text-decoration: none;
    color: black;
}
.item1{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
.product-image{
    padding-bottom: 10px;
    align-self: center;

}
.title3{
    border-top: #b8b8b8 solid 1px;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 16px;
    height: 72px;
    overflow: hidden;
    color: #367185;
    font-weight: 500;
}
.title3:hover{
    color: #d25804;
    text-decoration-color: #d25804  ;
    text-decoration: underline;
}
.item1 .product-name {
    height: 20px;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
}
.item1 .douprice{
    display: flex;
    justify-content: space-between !important;
    border-bottom: 1px dotted #868484;
    padding: 0 10px;
}
.item1 .price{
    font-size: 16px;
    color : #ec3d45;
    margin-right: 20%;
    font-weight: 600;
}
.item1 .oldprice{
    color: #8c8c8c;
    font-size: 16px;
    text-decoration: line-through ;
    font-family: "Roboto", "sans-serif";
}
.item1 .moredetail{
    display: flex;
    justify-content: center;
    padding: 5px ;
    font-weight: 500;
    background-image:linear-gradient(to bottom, #e7c869, #f0c14b);
    border: 1px solid #835f00;
    border-radius: 3px;
    color: black;
}
.moredetail:hover{
    background-image: linear-gradient(to bottom, #e0ab34, #e0ab34);
    text-decoration: none;
}
.moredetail:focus{
    outline: none;
    text-decoration: none;
}
.moredetail:active{
    box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.3);
    outline: none;
    text-decoration: none;
}
.ratting{
    display: flex;
    justify-content:space-between;
}
.star{
    margin-top: 10px ;
}
.star-box{
    float: left;
    /*margin-left: calc((100% - 80px)/2);*/
    width: 80px;
    height: 16px;
    background-image: url("../imgs/star-off.png");
    background-repeat: repeat-x;
    background-size: 16px 16px;
}
.star-box .star-rate{
    float: left;
    height: 16px;
    background-image: url("../imgs/icons8-star-32.png");
    background-repeat: repeat-x;
    background-size: 16px 16px;
}
.hmratting{
    font-size: 14px;
    margin-top: 8px;
    float: right;
}
/*category*/
.sidebar-title{
    margin-bottom: 25px;
}
.menu-category{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 10px;
}
.category{
    transition: background-color 300ms; border-bottom: 1px solid #8e95a7;
    color: #242323;
    text-decoration: none !important;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 18px;
}

.category:focus,.category:hover{
    color: #202943;
}
.category:visited{
    background-color: #2e6da4;
}
.category:active{
    background-color: #2e6da4;
}
.submenu-category{
    display: none;
    color: whitesmoke;
    font-size: 16px;
    margin-bottom: 5px;
    text-decoration: none;
    background-color: #eae7e7;
}
.tungmenu--modifier + .submenu-category{
    display: block;
    transition: width 0.5s ;
}
.product-category{
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
}
.link-category {
    display: flex;
    flex-direction: column;
    color: #242323;
    text-decoration: none !important;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    transition: all 2s ease-out;
}
.link-category:hover{
    background-color: #333333;
    color: #FFFFFF;
}
.link-category:visited {
    text-decoration: none;
}
.link-category:active {
    text-decoration: none;
    background-color: #333333;
    color: #FFFFFF;
}
/*-- checkboc --*/
.booking{
    color: black;
    font-weight: lighter;
    margin: 0;
}
.booking:hover{
    color: #ffc003;
}
.star-booking{
    cursor: pointer;
}
.star-booking:hover {
    color: #ffc003;
}
#sortby{
    padding: 5px;
    margin-left: 10px;
}
